.home-main-container {
  margin: 0 auto;
  padding: 100px 0;
  width: 35%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-logo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.home-main-description {
  text-align: center;
  color: black;
  font-size: 18px;
  font-family: "General-Sans";
  letter-spacing: 1.1px;
}

.search-view {
  margin-top: 75px;
  width: 100%;
  font-family: "General-Sans";
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.search-view input {
  width: 85%;
  height: 75px;
  margin-bottom: 15px;
  padding: 15px 25px;
  border: 8px solid;
  border-radius: 60px;
}

.search-view input::placeholder {
  font-size: 20px;
  font-family: "General-Sans";
  font-weight: 400;
  color: rgb(137, 137, 137);
}

.search-view .search-icon {
  position: absolute;
  right: 12%;
  top: 15px;

  padding: 5px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: red;

  display: flex;
  justify-content: center;
  align-items: center;
}

.search-view .search-icon svg {
  font-size: 25px;
  color: white;
}

.view-list-link {
  font-size: 18px;
  font-weight: 500;
  /* border-bottom: 2px solid black; */
}
