.pokemon-list-section {
  width: 100vw;
  height: 100%;
  padding-bottom: 150px;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

/* .side-modal-background {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.359);
  transition: all 0.3s;
  z-index: 3;
} */

.pokemon-list-container {
  margin: 150px auto;
  margin-bottom: 50px;
  width: 95%;

  display: grid;
  gap: 4rem 1rem;
  grid-auto-rows: minmax(100px, 300px);
  justify-items: center;
}

.pagination-controls {
  margin: 0 auto;
  width: 82%;
  display: flex;
  justify-content: space-between;
}

.pokemon-pagination {
  list-style: none;
  display: flex;
  font-family: "Clash Display", sans-serif;
  font-weight: 500;
}

.pokemon-page-nav {
  padding: 8px 15px;
  background-color: #e1dfdf;
  border: none;
  border-radius: 10px;
  margin: 5px;
}

.pokemon-page-nav:hover {
  background-color: red;
  color: #fff;
}

.pokemon-pagination svg {
  position: relative;
  top: 2px;
  font-weight: 600;
}

.item-count {
  padding: 8px 15px;
  background-color: #e1dfdf;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  outline: none;
}

.item-count option {
  background: white;
  border-radius: 10px;
}

.active-num {
  background-color: rgb(255, 0, 0);
  color: #fff;
}

@media screen and (min-width: 651px) and (max-width: 979px) {
  .pokemon-list-container {
    width: 95%;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 980px) and (max-width: 1299px) {
  .pokemon-list-container {
    width: 95%;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1300px) {
  .pokemon-list-container {
    width: 85%;
    grid-template-columns: repeat(4, 1fr);
  }

  .pagination-controls {
    width: 85%;
  }
}

/* 650px */
